{% extends "base.html.twig" %}

{% block body %}
    <img src = "/img/champions/{{ championImg }} "/>
        <h1> {{ championName }} </h1>
        <h2> {{ championTitle }} </h2>
        <p> {{ championBlurb }} </p>
{% endblock %}